---
import FirstImg from '../assets/img-firstsection.svg';
// import FirstImg from '../assets/img-secondsection.svg';
// import FirstImg from '../assets/img-threesection.svg';
---
<section class="px-5 py-[48px] lg:p-[80px] flex flex-col items-center gap-8 xl:flex-row lg:gap-20">
  <div class="max-w-[611px] flex flex-col gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Turpis risus facilisi</h2>
    <p class="text-start text-base md:text-xl">Augue feugiat mi, massa amet. Id purus aliquam bibendum purus dictum elementum nullam odio tellus. Imperdiet feugiat est odio fames magna orci. Augue purus aliquam, placerat vestibulum dictum pellentesque molestie. Facilisis pretium porta congue proin.</p>
  </div>
  <img class="w-full max-w-[589px]" src={FirstImg.src} alt="imagen primera seccion">
</section>