---
import ArrowRightIcon from '../assets/arrowright-icon.svg';
---
<footer class="bg-[#475569] px-5 py-[48px] lg:px-[80px] flex flex-col items-center gap-8">
  <div class="flex flex-wrap justify-center gap-12 lg:justify-between lg:gap-16 items-start">
    <h2 class="leading-tight text-white text-[32px] font-bold">mabi</h2>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Product</span>
      <a class="text-base font-normal text-gray-200" href="#">Pricing</a>
      <a class="text-base font-normal text-gray-200" href="#">Overview</a>
      <a class="text-base font-normal text-gray-200" href="#">Browse</a>
      <a class="flex gap-2 text-base font-normal text-gray-200" href="#">
        Accesibility
        <span class="bg-purple-100 text-purple-800 text-xs py-1 px-2 rounded">
          BETA
        </span>
      </a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Solutions</span>
      <a class="text-base font-normal text-gray-200" href="#">Brainstorming</a>
      <a class="text-base font-normal text-gray-200" href="#">Ideation</a>
      <a class="text-base font-normal text-gray-200" href="#">Wireframing</a>
      <a class="text-base font-normal text-gray-200" href="#">Research</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Resources</span>
      <a class="text-base font-normal text-gray-200" href="#">Help center</a>
      <a class="text-base font-normal text-gray-200" href="#">Blog</a>
      <a class="text-base font-normal text-gray-200" href="#">Tutorials</a>
      <a class="text-base font-normal text-gray-200" href="#">FAQs</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Resources</span>
      <a class="text-base font-normal text-gray-200" href="#">Help Center</a>
      <a class="text-base font-normal text-gray-200" href="#">Blog</a>
      <a class="text-base font-normal text-gray-200" href="#">Tutorials</a>
      <a class="text-base font-normal text-gray-200" href="#">FAQs</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Support</span>
      <a class="text-base font-normal text-gray-200" href="#">Contact Us</a>
      <a class="text-base font-normal text-gray-200" href="#">Developers</a>
      <a class="text-base font-normal text-gray-200" href="#">Documentation</a>
      <a class="text-base font-normal text-gray-200" href="#">Integrations</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Company</span>
      <a class="text-base font-normal text-gray-200" href="#">About</a>
      <a class="text-base font-normal text-gray-200" href="#">Press</a>
      <a class="text-base font-normal text-gray-200" href="#">Events</a>
      <a class="flex gap-2 text-base font-normal text-gray-200" href="#">
        Request Demo
        <img src={ArrowRightIcon.src} alt="icono flecha hacia la derecha">
      </a>
    </div>
  </div>
  <hr class="w-full">
  <div class="w-full flex flex-col items-center gap-4 sm:flex-row sm:justify-between">
    <span class="text-base text-white">
      @ 2024 Mabi. All rights reserved -rodz-
    </span>
    <div class="flex gap-8 items-center">
      <a class="text-base text-white" href="#">Terms</a>
      <a class="text-base text-white" href="#">Privacy</a>
      <a class="text-base text-white" href="#">Contact</a>
    </div>
  </div>
</footer>