---
import ArrowRightIcon from '../assets/arrowright-icon.svg';
---
<footer class="bg-[#475569] px-5 py-[48px] lg:px-[80px] flex flex-col items-center gap-8">
  <div class="flex flex-wrap justify-center gap-12 lg:justify-between lg:gap-16 items-start">
    <h2 class="leading-tight text-white text-[32px] font-bold">mabi</h2>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Productos</span>
      <a class="text-base font-normal text-gray-200" href="#">Precios</a>
      <a class="text-base font-normal text-gray-200" href="#">General</a>
      <a class="text-base font-normal text-gray-200" href="#">Buscar</a>
      <a class="flex gap-2 text-base font-normal text-gray-200" href="#">
        Accesibilidad
        <span class="bg-purple-100 text-purple-800 text-xs py-1 px-2 rounded">
          BETA
        </span>
      </a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Soluciones</span>
      <a class="text-base font-normal text-gray-200" href="#">Lluvia de ideas</a>
      <a class="text-base font-normal text-gray-200" href="#">Ideación</a>
      <a class="text-base font-normal text-gray-200" href="#">Maquetacion</a>
      <a class="text-base font-normal text-gray-200" href="#">Investigación</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Recursos</span>
      <a class="text-base font-normal text-gray-200" href="#">Ayuda</a>
      <a class="text-base font-normal text-gray-200" href="#">Blog</a>
      <a class="text-base font-normal text-gray-200" href="#">Tutoriales</a>
      <a class="text-base font-normal text-gray-200" href="#">Preguntas</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Soporte</span>
      <a class="text-base font-normal text-gray-200" href="#">Contactanos</a>
      <a class="text-base font-normal text-gray-200" href="#">Desarrolladores</a>
      <a class="text-base font-normal text-gray-200" href="#">Documentación</a>
      <a class="text-base font-normal text-gray-200" href="#">Integraciones</a>
    </div>
    <div class="flex flex-col gap-3">
      <span class="text-base font-medium text-white">Empresa</span>
      <a class="text-base font-normal text-gray-200" href="#">Nosotros</a>
      <a class="text-base font-normal text-gray-200" href="#">Prensa</a>
      <a class="text-base font-normal text-gray-200" href="#">Eventos</a>
      <a class="flex gap-2 text-base font-normal text-gray-200" href="#">
        Demo
        <img src={ArrowRightIcon.src} alt="icono flecha hacia la derecha">
      </a>
    </div>
  </div>
  <hr class="w-full">
  <div class="w-full flex flex-col items-center gap-4 sm:flex-row sm:justify-between">
    <span class="text-base text-white">
      @ 2024 Mabi. Todos los derechos reservados
    </span>
    <div class="flex gap-8 items-center">
      <a class="text-base text-white" href="#">Terminos</a>
      <a class="text-base text-white" href="#">Privacidad</a>
      <a class="text-base text-white" href="#">Contacto</a>
    </div>
  </div>
</footer>