---
import DesktopImg from '../assets/img-desktop.svg';
---
<section class="bg-[#475569] px-5 py-[48px] lg:py-[160px] lg:px-[80px] flex flex-col items-center gap-8 lg:flex-row xl:justify-between lg:gap-20" >
  <img class="w-full max-w-[600px] lg:max-w-[500px] xl:max-w-[600px]" src={DesktopImg.src} alt="imagen de escritorio">
  <div class="flex flex-col max-w-[600px] items-center md:items-start gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold text-white">Launch Your App Today</h2>
    <p class="text-start text-base md:text-xl text-white">Amet nunc diam orci duis ut sit diam arcu, nec. Eleifend proin massa tincidunt viverra lectus pulvinar.</p>
    <button class="px-12 py-5 text-2xl md:text-base text-white font-medium border-2 border-white rounded-full active:ring-4 active:ring-slate-500">
      Free Launch
    </button>
  </div>
</section>