---
import HeroBg from '../assets/img-hero.svg';
import ShapeBg from '../assets/shape-bg.svg';
---

<main>
  <img class="absolute top-0 -z-10 h-[700px] lg:w-full object-cover" src={ShapeBg.src} alt="imagen de fondo">

  <section class="w-full flex flex-col items-center gap-8 lg:flex-row lg:justify-center lg:gap-4">
    <div class="w-full max-w-[634px] pt-[29px] md:pt-[59px] px-4 flex flex-col gap-8 items-center lg:items-start">
      <div class="flex flex-col">
        <h1 class="leading-tight text-[40px] sm:text-7xl font-bold text-white">Lanza tu App</h1>
        <h2 class="text-[32px] sm:text-[56px] leading-tight font-semibold text-gray-300">Haz crecer tu negocio</h2>
      </div>
      <p class="text-lg text-white">Llega a más clientes y potencia tu marca con una app personalizada, transforma tu idea en una realidad digital!</p>
      <button class="px-12 py-5 text-2xl md:text-base text-white font-medium border-2 border-white rounded-full active:ring-4 active:ring-slate-500">
        Empezar gratis
      </button>
    </div>
  
    <img class="drop-shadow-2xl" src={HeroBg.src} alt="prototipo de la app - imagen">
  </section>
</main>