---
import IconArrow from '../assets/chevron-down.svg';
import IconBar from '../assets/bar-icon.svg';
---

<header class="p-4 md:px-20 md:py-6 flex justify-between">
  <div class="flex gap-12">
    <h2 class="text-[32px] md:text-5xl font-semibold text-white">mabi</h2>
    <nav id="navbar-menu" class="navbar-menu bg-slate-700 z-50 absolute lg:relative top-20 lg:top-6 right-4 md:right-20 lg:right-0 h-0 opacity-0 lg:opacity-100 px-8 lg:px-0 rounded-xl justify-center flex-col lg:bg-transparent flex lg:flex-row items-center gap-10 transition duration-300">
      <a class="text-lg text-white font-normal" href="#">
        Home
        <div class="w-full pt-0.5 bg-white rounded-full" />
      </a>
      <a class="text-lg text-white font-normal" href="#">Solutions</a>
      <a class="text-lg text-white font-normal" href="#">Pricing</a>
      <div class="relative group">
        <a class="text-lg text-white font-normal flex items-center gap-2 cursor-pointer">
          Resources
          <img src={IconArrow.src} alt="icono flecha hacia abajo" class="transition-transform duration-300 group-hover:rotate-180">
        </a>
        <div class="absolute left-0 mt-2 w-48 rounded-lg bg-white ring-1 ring-black ring-opacity-5 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300">
          <div class="px-4 py-2" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <a href="#" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 1</a>
            <a href="#" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 2</a>
            <a href="#" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 3</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hidden md:flex gap-4">
    <a href="#" class="px-7 py-3 text-base text-white font-medium border-2 border-white rounded-full active:ring-4 active:ring-slate-500">Log in</a>
    <a href="#" class="px-7 py-3 text-base text-[#333] font-medium bg-white rounded-full active:ring-4 active:ring-slate-500">Free Launch</a>
  </div>

  <button id="menu-toggle" class="lg:hidden">
    <img class="w-6" src={IconBar.src} alt="icono menu bar">
  </button>
</header>

<!-- 

<nav id="navbar-menu" class="navbar-menu overflow-hidden bg-slate-700 z-50 fixed top-20 lg:top-0 lg:right-0 right-4 md:right-20 h-0 opacity-0 px-8 lg:p-0 rounded-xl justify-center flex-col lg:relative lg:bg-transparent lg:flex lg:flex-row items-center gap-10">
      <a class="text-lg text-white font-normal" href="#">
        Home
        <div class="w-full pt-0.5 bg-white rounded-full" />
      </a>
      <a class="text-lg text-white font-normal" href="#">Solutions</a>
      <a class="text-lg text-white font-normal" href="#">Pricing</a>
      <div class="relative group">
        <a class="text-lg text-white font-normal flex items-center gap-2 cursor-pointer">
          Resources
          <img src={IconArrow.src} alt="icono flecha hacia abajo" class="transition-transform duration-300 group-hover:rotate-180">
        </a>
        <div class="absolute left-0 mt-2 w-48 rounded-lg bg-white ring-1 ring-black ring-opacity-5 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300">
          <div class="px-4 py-2" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
            <a href="#" id="menu-toggle" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 1</a>
            <a href="#" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 2</a>
            <a href="#" class="block px-4 py-2 text-base text-gray-700 rounded-md hover:bg-gray-100" role="menuitem">Resource 3</a>
          </div>
        </div>
      </div>
    </nav>

-->

<style>
  .navbar-menu.active{
    height: 300px;
    opacity: 1;
  }
</style>

<script is:inline>
  const menuToggle = document.getElementById("menu-toggle");
  menuToggle.onclick = function() {
    const navbarMenu = document.getElementById("navbar-menu");
    navbarMenu.classList.toggle("active")
  }
</script>