---
import SecondImg from '../assets/img-secondsection.svg';
// import SecondImg from '../assets/img-threesection.svg';
---
<section class="px-5 py-[48px] lg:p-[80px] flex flex-col items-center gap-8 xl:flex-row-reverse xl:justify-between lg:gap-20">
  <div class="max-w-[832px] flex flex-col gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Sagittis sapien viverra</h2>
    <p class="text-start text-base md:text-xl">Id turpis ante nunc, id tempor. Diam, eros, eget suspendisse dolor tellus. Diam fringilla sed volutpat facilisi. Pulvinar vulputate facilisis vel eros. Auctor metus sed auctor tortor sed nulla. Urna massa eu vel blandit sed nisi gravida. Imperdiet parturient at purus bibendum risus auctor lacus tristique arcu. Arcu hac cursus faucibus id. Eu integer parturient risus magna eget massa. Risus molestie tempor, faucibus non ultricies. Nam vel mattis quis dui, condimentum mi volutpat ut aliquam.</p>
  </div>
  <img class="w-full max-w-[368px]" src={SecondImg.src} alt="imagen primera seccion">
</section>