---
import SecondImg from "../assets/img-secondsection.svg";
// import SecondImg from '../assets/img-threesection.svg';
---

<section
  class="px-5 py-[48px] lg:p-[80px] flex flex-col items-center gap-8 xl:flex-row-reverse xl:justify-between lg:gap-20"
>
  <div class="max-w-[832px] flex flex-col gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">
      Desata tu creatividad
    </h2>
    <p class="text-start text-base md:text-xl">
      Exprésate libremente con nuestra aplicación. Crea diseños únicos, edita
      fotos y comparte tus obras de arte con el mundo. ¡Tu imaginación es el
      límite!
      <br /><br />
      Lleva tu creatividad contigo a donde vayas. Con nuestra app, podrás crear y
      editar tus diseños directamente desde tu smartphone. Personaliza cada detalle
      y sorprende a todos.
    </p>
  </div>
  <img
    class="w-full max-w-[368px]"
    src={SecondImg.src}
    alt="imagen primera seccion"
  />
</section>
