---
import ThreeImg from '../assets/img-threesection.svg';
---
<section class="px-5 py-[48px] lg:p-[80px] flex flex-col items-center gap-8 xl:flex-row xl:justify-between lg:gap-20">
  <div class="max-w-[702px] flex flex-col gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Tu lienzo móvil</h2>
    <p class="text-start text-base md:text-xl">Lleva tu creatividad contigo a donde vayas. Con nuestra app, podrás crear y editar tus diseños directamente desde tu smartphone. Personaliza cada detalle y sorprende a todos.</p>
  </div>
  <img class="w-full max-w-[498px]" src={ThreeImg.src} alt="imagen primera seccion">
</section>