---
import ThreeImg from '../assets/img-threesection.svg';
---
<section class="px-5 py-[48px] lg:p-[80px] flex flex-col items-center gap-8 xl:flex-row xl:justify-between lg:gap-20">
  <div class="max-w-[702px] flex flex-col gap-8">
    <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Non commodo nec</h2>
    <p class="text-start text-base md:text-xl">Laoreet amet, lacus sed faucibus. Nec, natoque semper rutrum dui. Curabitur in commodo pretium lacinia feugiat. A ultricies quis commodo, nisl, vestibulum, feugiat dolor. Tincidunt orci consequat, pellentesque leo dui nunc ac, amet. A proin pulvinar nec nibh bibendum. Nec mi mattis vulputate dictum platea pharetra, id id.</p>
  </div>
  <img class="w-full max-w-[498px]" src={ThreeImg.src} alt="imagen primera seccion">
</section>