---
import RazIcon from '../assets/raz-icon.svg';
import StarIcon from '../assets/star-icon.svg';
import ClockIcon from '../assets/clock-icon.svg';
---
<section class="bg-white px-5 py-[48px] lg:py-[80px] flex flex-col items-center gap-8 lg:gap-20">
  <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">Como funciona</h2>
  <div class="flex flex-wrap justify-center gap-8 lg:gap-20">
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={ClockIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Adaptamos nuestros plazos a tus necesidades, entregando resultados de calidad en tiempo récord. Tu proyecto, tu ritmo.</h3>
    </div>
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={RazIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Desde la conceptualización hasta el lanzamiento, te guiamos en cada etapa. Diseñamos, desarrollamos y optimizamos tu app para que alcance el éxito.</h3>
    </div>
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={StarIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Utilizamos las métricas más relevantes para evaluar el rendimiento de tu app y realizar ajustes constantes para mejorar su desempeño.</h3>
    </div>
  </div>
</section>