---
import RazIcon from '../assets/raz-icon.svg';
import StarIcon from '../assets/star-icon.svg';
import ClockIcon from '../assets/clock-icon.svg';
---
<section class="bg-white px-5 py-[48px] lg:py-[80px] flex flex-col items-center gap-8 lg:gap-20">
  <h2 class="text-[32px] md:text-[56px] leading-tight font-bold">How it works</h2>
  <div class="flex flex-wrap justify-center gap-8 lg:gap-20">
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={ClockIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Dui consectetur gravida platea ut dis diam. Enim morbi proin auctor et nisl phasellus. Ultricies pharetra, id quam facilisis urna, enim.</h3>
    </div>
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={RazIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Et sit duis vestibulum proin. Sollicitudin velit, etiam a feugiat sagittis. Imperdiet ipsum urna ornare vitae tempus sed massa.</h3>
    </div>
    <div class="w-fit max-w-[361px] py-8 px-4 flex flex-col items-center gap-4 border-4 border-gray-400 rounded-xl">
      <img src={StarIcon.src} alt="icono de reloj">
      <h3 class="text-center text-base md:text-xl">Elit purus magna donec mattis amet, leo varius sed. Ut metus sed convallis pretium sollicitudin turpis semper vulputate.</h3>
    </div>
  </div>
</section>